﻿@{
    ViewData["Title"] = "Create";
}

<h2>Create user</h2>
<form id="createForm">
    <label>Username</label><br/>
    <input type="text" name="username"/>
    <input type="submit" value="Create"/>    
</form>
<a href="@Url.Action("Index","User")">Back</a>

