﻿@{
    ViewData["Title"] = "Index";
}

<a href="@Url.Action("Create","User")">Create user</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody id="forUsers"></tbody>
</table>
<br />
<h2>Get one user</h2>
<input type="text" name="getOneUser" />
<button id="btnGetOne">Get</button>
<div id="getOne">
</div>

