﻿@{
    ViewData["Title"] = "Update";
}
@model PRAKSAApp.BLL.Contracts.DTOs.UserDTO; 

<h2>Update</h2>

<k3>Username</k3>
<input type="text" value="@Model.Id" disabled name="idUpdate"/>
<input type="text" value="@Model.Username" name="newUsername"/><br />
<input type="button" value="Change" id="btnChange"/><br />
<button id="btnUpdateBack">Back</button>

@section Scripts{ 
    <script src="~/js/updateUser.js"></script>
}